---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p><em>{{ page.summary }}</em></p>
    <blockquote>
      <p><code class="highlighter-rouge">{{ page.file }}</code></p>
    </blockquote>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
